
<div class="card-columns m-3 mt-5">
  
  {% comment %} from given projects... {% endcomment %}
  {% assign projects0 = include.projects | default: site.projects %}
  {% assign projects1 = "" | split: ""  %}

  {% comment %} ...cherry pick if given filters... {% endcomment %}
  {% assign has_filter = include.categories or include.tags or include.exclude_priority %}
  {% if has_filter %}

    {% for p in projects0 %}
      
      {% comment %} categories {% endcomment %}
      {% assign cs = include.categories | split: " " %}
      {% for c in cs %}

        {% if p.categories contains c %}
          {% assign projects1 = projects1 | push: p %}
          {% break %}
        {% endif %}
      {% endfor %} 

      {% comment %} tags {% endcomment %}
      {% assign ts = include.tags | split: " " %}
      {% for t in ts %}

        {% if p.tags contains t %}
          {% assign projects1 = projects1 | push: p %}
          {% break %}
        {% endif %}
      {% endfor %} 

    {% endfor %}

    {% assign projects1 = projects1 | uniq %}
    
  {% comment %} ...otherwise pick all {% endcomment %}
  {% else %}

    {% assign projects1 = projects0 %}

  {% endif %}

  {% comment %} now filter by priority strictly less than 'exclude_priority' {% endcomment %}
  {% comment %} this will ignore projects without a priority, i.e. include those {% endcomment %}
  {% if include.exclude_priority %} 
    {% capture expr %}
    p.priority < {{include.exclude_priority}}
    {% endcapture %}
    {% assign projects1 = projects1 | where_exp:"p", expr %}
  {% endif %} 


  {% comment %} output curated set of projects {% endcomment %}
  {% for p in projects1 %}

    {% assign p_url = p.url | relative_url %}
 
    {% include  cards/project.html 
                url=p_url
                name=p.name
                description=p.description
                tags=p.tags
                categories=p.categories
                view=p.card
                %}

  {% endfor %}

</div>
