<nav class="navbar navbar-expand-lg navbar-themed">

  <a class="navbar-brand" href="{{ site.baseurl }}/"><h5><b>{{ site.title }}</b></h5></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-1x fa-bars text-themed"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">

      
      {% for item in site.navbar.items %}
        {% assign item_page = site.pages | find: "path", item.page %}
        {% if item_page %}
          {% assign item_caption = item.caption | default: item_page.title | markdownify %}

          {%- if page.url contains item_page.url -%}
            {%- assign active_status = "active" -%}
          {%- else -%}
            {%- assign active_status = "" -%}
          {%- endif -%}

          {%- if item_page.external_url -%}
            {%- assign url = item_page.external_url -%}
          {%- else -%}
            {%- assign url = item_page.url | relative_url -%}
          {%- endif -%}

          <a class="nav-item nav-link {{ active_status }}" href="{{ url }}" {%- if item_page.external_url and site.external_new_tab -%} target="_blank" {%- endif -%}>{{ item_caption }}</a>

        {% endif %}
      {% endfor %}

      {% if site.navbar.toggle_theme %}
        <span id="theme-toggler" class="nav-item nav-link" role="button" onclick="toggleTheme()"></span>
      {% endif %}

    </div>
  </div>

</nav>
